@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #faf4ed;
    --foreground: #575279;
    --card: #fffaf3;
    --card-foreground: #575279;
    --popover: #f2e9e1;
    --popover-foreground: #575279;
    --primary: #907aa9;
    --primary-foreground: #ffffff;
    --secondary: #f4ede8;
    --secondary-foreground: #575279;
    --muted: #f4ede8;
    --muted-foreground: #797593;
    --accent: #f4ede8;
    --accent-foreground: #575279;
    --destructive: #b4637a;
    --destructive-foreground: #ffffff;
    --border: #dfdad9;
    --input: #dfdad9;
    --ring: #907aa9;
    --chart-1: #907aa9;
    --chart-2: #56949f;
    --chart-3: #286983;
    --chart-4: #ea9d34;
    --chart-5: #d7827e;
    --radius: 0.5rem;
    --sidebar-background: #faf4ed;
    --sidebar-foreground: #575279;
    --sidebar-primary: #907aa9;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f4ede8;
    --sidebar-accent-foreground: #575279;
    --sidebar-border: #dfdad9;
    --sidebar-ring: #907aa9;
  }

  .dark {
    --background: #232136;
    --foreground: #e0def4;
    --card: #2a273f;
    --card-foreground: #e0def4;
    --popover: #393552;
    --popover-foreground: #e0def4;
    --primary: #c4a7e7;
    --primary-foreground: #232136;
    --secondary: #2a283e;
    --secondary-foreground: #e0def4;
    --muted: #2a283e;
    --muted-foreground: #908caa;
    --accent: #2a283e;
    --accent-foreground: #e0def4;
    --destructive: #eb6f92;
    --destructive-foreground: #e0def4;
    --border: #44415a;
    --input: #44415a;
    --ring: #c4a7e7;
    --chart-1: #c4a7e7;
    --chart-2: #9ccfd8;
    --chart-3: #3e8fb0;
    --chart-4: #f6c177;
    --chart-5: #ea9a97;
    --sidebar-background: #232136;
    --sidebar-foreground: #e0def4;
    --sidebar-primary: #c4a7e7;
    --sidebar-primary-foreground: #232136;
    --sidebar-accent: #2a283e;
    --sidebar-accent-foreground: #e0def4;
    --sidebar-border: #44415a;
    --sidebar-ring: #c4a7e7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
